/* tablas-resultados.component.css */
.card-header {
  cursor: pointer;
}

.table-limited-height {
  max-height: 300px; /* Ajusta según sea necesario */
  overflow-y: auto;
}

.table {
  color: black;
}
